.navBar {
  width: 100%;
  background-color: #176b87;
  min-height: 10vh;
  padding-top: 15px;
}

.Option {
  text-decoration: none;
  color: black;
}

.ActiveOption {
  text-decoration: none;
  color: black;
}

.titulo {
  padding-bottom: 20px;
  color: white;
  list-style: none;
}

.Categories {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.Categories:hover {
  cursor: pointer;
  color: chocolate;
}
