* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.App {
  text-align: center;
  background-color: white;
  color: whitesmoke;
}

.btns {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.UserSection {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 991) {
  .UserSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.CounterSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  font-size: 24px;
  border: 2px solid black;
  padding: 20px;
  background-color: green;
}

.btn-section {
  display: flex;
  width: 200px;
  justify-content: space-around;
}
